<div class="row pom" >
  <div class="col"></div>
  <div class="col-md-2 ped">
    <div class=" klasa">
      <div class="card-body align-self-flex-start" style="padding:0%;">
        <app-Profile></app-Profile>
      </div>
    </div>
  </div>
  <div class="col-md-6 ped" style="align-items: center;">
    <div class="card klasa" style="border:none; border-radius: 0%;">
    <app-Nav></app-Nav>
    <div class="card-body main" style="position: relative;">
      <router-outlet></router-outlet>
    </div>
  </div>
  </div>
  <div class="col"></div>
  </div>


